@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.light {
  background: white;
}

.container .navbar {
  max-width: 100vw;
  margin: auto;
  padding: 0 80px;
}

.scrolled {
  backdrop-filter: blur(10px);
}

.header-text {
  background: linear-gradient(90deg, #FE6783 1.9%, #FFBF84 97.1%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.header-point {
  background: rgba(68, 138, 82, 0.5);
}

.menuBg {
  background-color: rgba(29,
      47,
      65, 0.75);
}

.trustControl {
  width: 100%;
  min-height: 100vh;
  background-image: url('./assets/Image.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.phoneImg {
  margin-left: 164px
}

@media (max-width:768px) {
  .menuBar {
    display: none;
  }
}

@media (min-width:768px) {
  .menuBar2 {
    display: none;
  }
}

@media (max-width:500px) {
  .dropdownMenu {
    margin-left: -30px;
  }
}

@media (max-width:500px) {
  .dropdownMenu {
    margin-left: -55px;
  }
}

@media (max-width:1070px) {
  .responsiveContainer {
    flex-wrap: wrap-reverse;
    justify-content: center;
    text-align: center;
  }

  .btnCenter {
    justify-content: center;
  }
}

@media (max-width:863px) {
  .responsiveFooter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}

.animation-title {
  animation: animationTitle 5s ease-in;
}


@keyframes animationTitle {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 30;
  }

  300% {
    opacity: 40;
  }

  75% {
    opacity: 50;
  }

  100% {
    opacity: 100;
  }
}

